/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    font-family: 'Merriweather Sans', 'sans-serif';
    background-color: #D1DBE3;
}

img {
    opacity: 1.0; 
    width: 100%;
}

.top {
    display: inline-block;
    width: 100%;
    height: 100px;
    margin: 0em;
    text-align: center;
    margin-bottom: 10%;
}

.head {
    background-color: #D1DBE3;
}

h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 50px;
}

.fantasy {
    border-bottom: 20px solid black ;
    border-top: 20px solid black;
}

nav {
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 11px rgba(0, 0, 0, .1);
}

nav ul {
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 0px;
    font-size: 20px;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  margin: 1rem;
  padding: .25rem 0;
  text-decoration: none;
  color: #888;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

.news {
    color: red;
}

.videos {
    color: red;
}

.players {
    color: red;
}

.click {
    color: red;
}

.box1 {
    display: inline-block;
    width: 48%;
    text-align: center;
    height: 333px;
    margin-top: 0px;
}

.box2 {
    display: inline-block;
    width: 48%;
    text-align: center;
    height: 333px;
    margin-bottom: 0px;
}

.box3 {
    display: inline-block;
    width: 48%;
    text-align: center;
    height: 333px;
    margin-top: -37px;
}

.box4 {
    display: inline-block;
    width: 48%;
    width: 597px;
    text-align: center;
    height: 310px;
    float: right;
}

.news-box {
    line-height: 90px;
    border-radius: 0px;
    font-family: Arial;
    color: blue;
    border: 3px solid black;
    font-size: 25px;
    padding: 30px 30px 50px 30px;
    text-decoration: none;
    background-color: gray;
    display: block;
    text-align: center;
    height: 252px;
    font-size: 75px;
    margin-left: 0;
    margin-right: 0px;
    border-top: none;
    border-left: none;
}

.home {
    height: 100%;
    background-color: #D1DBE3;
    margin: 0;
}

.team1 {
    float: left;
    display: inline-block;
    width: 42%;
    margin-top: -46px;
    margin-left: 15px;
}

.team2 {
    float: left;
    display: inline-block;
    width: 35%;   
    margin-top: -46px; 
}


.positions {
    float: left;
    display: inline-block;
    width: 14%;
    padding-top: 16px;
    margin-top: -46px;
    margin-left: -46px;
}

ul {
    list-style-type: none;
}

.players2 {
    margin-right: 0px;
    font-size: 40px;
    border-right: 3px solid black;
}

iframe {
    margin-top: -40px;
    margin-left: -5px;
    border-bottom: 3px solid black;
}

.lineup {
    margin-top: 34px;
    font-size: 10px;
}

.fantasylineup {
    margin-top: -42px;
    text-align: center;
}

h5 {
    font-size: 40px;

}

.buttons {
    width: 30%;
    margin: 0px 15% 250px 15%;
}

.espn {
    border: 1px solid blue;
    text-align: center;
    font-size: 20px;
    background-color: gray;
}

.cbs {
    border: 1px solid blue;
    text-align: center;
    font-size: 20px;
    background-color: gray;
}

.yahoo {
    border: 1px solid blue;
    text-align: center;
    font-size: 20px;
    background-color: gray;
}

.bleacher {
    border: 1px solid blue;
    text-align: center;
    font-size: 20px;
    background-color: gray;
}

h4 {
    text-align: center;
    font-size: 35px;
    text-decoration: none;
}

.espn a {
    text-decoration: none;
    color: blue;
}

.cbs a {
    text-decoration: none;
    color: blue;
}

.yahoo a {
    text-decoration: none;
    color: blue;
}

.bleacher a {
    text-decoration: none;
    color: blue;
}

.vid {
    display: inline-block;
    float: right;
    margin: -280px 50px 0px 0px;
}

h6 {
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: -5px;
}

.rb {
    float: left;
    width: 25%;
    text-align: left;
    margin-left: 250px;
}

.lists {
    margin-top: -15px;
    height: 350px;
}

.running {
    font-size: 25px;
    text-decoration: underline;
}

.qb {
    float: left;
    width: 25%;
    text-align: left;
}

.throwing {
    font-size: 25px;
    text-decoration: underline;
}

.wr {
    float: left;
    width: 25%;
    text-align: left;
    margin-bottom: 75px;
}

.catching {
    font-size: 25px;
    text-decoration: underline;
}

.foot {
    border-radius: 0px;
    font-family: Arial;
    color: blue;
    border: 3px solid black;
    font-size: 63px;
    padding: 63px 25px 147px 25px;
    text-decoration: none;
    background-color: gray;
}

.footer {
    width: 100%;
    height: 250px;
}

.bottom {
    width: 50%;
}

.draft {
    width: 100%;
}

.kings {
    border-radius: 0px;
    font-family: Arial;
    color: blue;
    border: 3px solid black;
    font-size: 63px;
    padding: 25px 25px 150px 25px;
    text-decoration: none;
    background-color: gray;
    float: right;
    width: 50%;
    margin-top: -130px;
    padding: 0px 3px 0px 0px;
    height: 265px;
    text-align: center;
}

.fontsize {
    color: blue;
}

.nav-wrapper {
  height: 60px;
}

.scroll {
    position: fixed;
    top: -15px;
    width: 90%;
    z-index: 100;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




